<h1>Main#login</h1>
<p>
	Find me in app/views/main/login.html.erb
</p>

<div class="row">
	<div class="col-md-3">
		<%= link_to signin_path do %>
		<div class="btn btn-social btn-facebook">
			<i class="fa fa-facebook"></i> Sign in with Facebook
		</div>
		<% end %>
	</div>
</div>
