<h1>Main#login</h1>
<p>
	Find me in app/views/main/login.html.erb
</p>

<div class="row">
	<div class="col-md-3">
		<%= link_to signin_facebook_path do %>
		<div class="btn btn-social btn-facebook">
			<i class="fa fa-facebook"></i> Sign in with Facebook
		</div>
		<% end %>
	</div>
</div>
</br>
<div class="row">
	<div class="col-md-3">
		<%= link_to signin_google_path do %>
		<div class="btn btn-social btn-google">
			<i class="fa fa-google"></i> Sign in with Google
		</div>
		<% end %>
	</div>
</div>

