<h1>ยินดีต้อนรับสู่นโยบายส่วนบุคคลของ <%= @app %></h1>
<p>
	เมื่อคุณใช้บริการของ <%= @app %> คุณไว้วางใจให้เรารักษาข้อมูลของคุณ นโยบายส่วนบุคคลนี้มีไว้เพื่อให้คุณได้เข้าใจประเภทข้อมูลที่เรารวบรวม เหตุผลที่เรารวบรวม รวมถึงสิ่งที่เราทำกับข้อมูลนั้น นี่เป็นเรื่องสำคัญ เราหวังว่าคุณจะใช้เวลาอ่านอย่างตั้งใจ
</p>
	
<h2>ข้อมูลที่เรารวบรวม</h2>
<p>
	เราเก็บรวบรวมข้อมูลเพื่อให้บริการที่ดีขึ้นแก่ผู้ใช้ของเราทั้งหมด คือข้อมูลพื้นฐานของ facebook login เพื่อให้สามารถให้งาน application ได้สะดวกขึ้น
</p>

<h2>ความปลอดภัยของข้อมูล</h2>
<p>
	เราพยายามอย่างยิ่งที่จะปกป้อง <%= @app %> และผู้ใช้ของเราจากการเข้าถึงการเปลี่ยนแปลง การเปิดเผย หรือการทำลายข้อมูลที่เราเก็บรักษาโดยไม่ได้รับอนุญาต
</p>

<h2>การเปลี่ยนแปลง</h2>
<p>
	นโยบายส่วนบุคคลของเราอาจมีการเปลี่ยนแปลงเป็นระยะๆ เราจะไม่ลดทอนสิทธิของคุณภายใต้นโยบายส่วนบุคคลนี้หากไม่ได้รับอนุญาตโดยชัดแจ้งจากคุณ อย่างไรก็ตาม เราจะเผยแพร่การเปลี่ยนแปลงเกี่ยวกับนโยบายส่วนบุคคลในหน้าเว็บนี้ และหากมีการเปลี่ยนแปลงที่สำคัญ เราจะแจ้งให้ทราบล่วงหน้าอย่างชัดเจน (รวมทั้งส่งอีเมลแจ้งเตือนเรื่องการเปลี่ยนแปลงนโยบายส่วนบุคคลสำหรับบางบริการ) เรายังเก็บรักษานโยบายส่วนบุคคลฉบับก่อนหน้านี้ไว้ในที่เก็บถาวรเพื่อให้คุณสามารถตรวจสอบได้
</p>