<div class="row">
	<div class="col-md-3">
		<p>
			<%= display_user_info(@info) %>
		</p>
	</div>
	<div class="col-md-3">
		<p>
			Registered : <%= @info.created_at.strftime("%-d %-b %y %H:%M:%S") %>
		</p>
	</div>
	<div class="col-md-3">
		<p>
			Matches (Close/Open) :
		</p>
		<p>
			Bets (Close/Open) :
		</p>
	</div>
	<div class="col-md-3">
		.col-md-3
	</div>
</div>

