<div class="row">
	<div class="col-md-3">
		<p>
			<%= display_user_info(@info) %>
		</p>
	</div>
	<div class="col-md-9">
		<p>
			Registered : <%= @info.created_at.strftime("%-d %-b %y %H:%M:%S") %>
		</p>	
		<p>
			Bets : {to do}
		</p>
		<p>
			PTS : <%= @info.pts %>
		</p>
		<p>
			Rank : {to do}
		</p>
		<p>
			Champion : {to do}
		</p>
		<p>
			Top goal scorer : {to do}
		</p>
	</div>	
</div>

