<table class="table table-hover">
	<thead>
		<tr class="active">
			<th class="text-center">Rank</th>
			<th class="text-center">Player</th>
			<th class="text-center">PTS</th>
		</tr>
	</thead>
	<tbody>
		<% @table.each_with_index do |user,index| %>
		<tr>
			<td class="text-center"><%= index+1 %></td>
			<td class="text-center"><%= display_user(user) %></td>
			<td class="text-center"><%= user.pts %></td>
		</tr>
		<% end %>
	</tbody>
</table>